body{
	background:#fff;
	font-size:15px;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial;
}
hr{
	height:1px;
	border:0;
	background:rgba(0,0,0,0.1);
	margin:15px 0;
	clear:both;
	padding:0;
}
a{
	cursor:pointer;
	outline:none;
}
input,textarea{
	outline:none;
}

.content{
	margin:0 auto;
	width:600px;
	max-width:600px;
	min-width:600px;
	z-index:1;
	position:relative;
}

.view{
	display:none;
	width:598px;
	min-height:100vh;
	border:1px solid rgba(204, 204, 221, 0.6);
	border-top:0;
	border-bottom:0;
}

i.icon{
	background:rgba(105, 187, 238, 0.0);
	vertical-align:middle;
	border-radius:50%;
	display:inline-block;
	height:35px;
	width:35px;
	text-align:center;
	line-height:35px;

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
i.icon svg{
	pointer-events:none;
	margin:0;
	margin-top:6px;
}
i.icon path{
	pointer-events:none;
}
i.icon:hover{
	background: rgba(105, 187, 238, 0.2);
}
i.icon.back svg{
	margin-top:4px;
	margin-left:-2px;
}
i.icon.reply svg{
	margin-left:1px;
}
i.icon.copy_link svg{
	margin-top:5px;
	margin-left:-1px;
}
i.icon.telegram svg{
	margin-left:-2px;
}

div.menu{
	top:0;
	position:fixed;
	right:50%;
	margin-right:300px;
	padding:0 20px;
	line-height:50px;
	font-size:19px;
	min-width:275px;
}
div.menu .session{
	line-height:55px;
	height:55px;
}
div.menu .session .avatar{
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
div.menu .session .account{
	display:inline-block;
	vertical-align:middle;
	line-height:15px;
}
div.menu .session .account-name{
	display:block;
	font-size:18px;
	font-weight:bold;
	text-overflow:ellipsis;
    width:176px;
    overflow:hidden;
    white-space:nowrap;
}
div.menu .session .account-login{
	color:#99a;
	font-size:15px;
	text-overflow:ellipsis;
    width:176px;
    overflow:hidden;
    white-space:nowrap;
}
div.menu .primary{
	padding-top:10px;
}
div.menu .primary a{
	padding:0 20px;
	padding-left:5px;
	margin:10px 0;
	font-weight:bold;
	background:rgba(105, 187, 238, 0.0);
	vertical-align:middle;
	line-height:36px;
	border-radius:25px;
	display:inline-block;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
div.menu .primary a.current{
	color:#1c98e5;
}
div.menu .primary a span{
	pointer-events:none;
}
div.menu .primary a .icon{
	margin-right:10px;
}
div.menu .primary a:hover{
	background:rgba(105, 187, 238, 0.2);
}
div.menu .primary a i.icon{
	background:none;
}
div.menu .primary a i.icon:hover{
	background:none;
}
div.menu .primary a i.icon svg{
	margin:0;
	margin-top:4px;
}

div.menu.hidden{
	display:none;
}
div.menu.short{
	padding:0 20px;
	min-width:50px;
}
div.menu.short .session{
	text-align:center;
}
div.menu.short .session .account{
	display:none;
}
div.menu.short .primary a span{
	display:none;
}
div.menu.short .session .avatar{
	margin-right:0;
}

div.menu.short .primary{
	text-align:center;
}
div.menu.short .primary a{
	padding:0;
	text-align:center;
	min-width:40px;
	min-height:40px;
}
div.menu.short .primary a .icon{
	margin-right:0;
}
div.menu.short .primary a .icon{
	margin-right:0;
}

.header{
	height:50px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	padding:0 15px;
	font-size:20px;
	line-height:40px;
	display:flex;
	flex-direction:row;
	-webkit-box-pack:justify;
	justify-content:auto;
	-webkit-box-align:stretch;
	align-items:stretch;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
}
.header.space-between{
	justify-content:space-between;
}
.header.space-around{
	justify-content:space-around;
}
.header div,.header a{
	flex-direction:column;
	flex-basis:auto;
}
.header a{
	margin:0 5px;
}
.header a:first-child{
	margin-left:0;
}
.header a:last-child{
	margin-right:0;
}
.header .grow{
	flex-grow:1;
}
.header .caption{
	margin-left:15px;
	font-weight:bold;
	line-height:45px;
}
.header .link{
	padding:0 10px;
}
.header .link input{
	width:100%;
	font-size:15px;
	line-height:20px;
	padding:5px 10px;
	border:1px solid #ccd;
	border-radius:15px;
}
.header a{
	color:#1c98e5;
}
.objects .object{
	position:relative;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	color:#000;
}
.objects .object.type-text-loading{
	border-bottom:none;
	padding:0;
	margin-top:0;
	display: flex;
	flex-direction:column;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
}
.objects .object.type-text-loading .load-placeholder{
	text-align:center;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	color:#000;
}

.objects .object.type-text-wait-loading{
	border-bottom:none;
	padding:0;
	margin-top:0;
	display: flex;
	flex-direction:column;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
}
.objects .object.type-text-wait-loading .load-placeholder{
	text-align:center;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	color:#000;
}
.objects .object.type-text-preview:hover{
	background:rgba(28, 152, 229, 0);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.objects .object.type-text-preview:hover{
	background:rgba(28, 152, 229, 0.05);
}
.object.type-text .author-view{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
}
.object.type-text-preview{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
}
.object.type-text-preview .avatar-column{
	flex-direction:column;
	flex-basis:auto;
	flex-basis:49px;
	margin:0 5px;
}
.author-view .avatar-column{
	flex-direction:column;
	flex-basis:auto;
	flex-basis:49px;
	margin:0 5px;
}
.author-view .author-column{
	flex-direction:column;
	flex-basis:auto;
	flex-grow:1;
	margin:0 5px;
}
.author-column .profile-name{
	font-weight:bold;
}
.author-column .profile-link{
	color:#99a;
	margin-left:5px;
}
.author-column .short-date-view::before{
	content:"·";
	margin:0 5px;
}
.author-column .short-date-view{
	color:#99a;
}
.object.type-text-preview .object-column{
	flex-direction:column;
	flex-basis:auto;
	flex-grow:1;
	margin:0 5px;
}
.object.type-text-preview .object-column .author-column{
	margin:0;
}
.object.type-text .author-column .profile-link{
	display:block;
	margin:0;
}
.reply-view{
	margin:2px 0;
	color:#596c7c;
}
.object.type-text .reply-view{
	margin:0;
	margin-top:10px;
}
.reply-view a{
	color:#1c98e5;
}
.share-view{
	margin: 0 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	color:#596c7c;
}
.object.type-text .share-view{
	margin:0;
	margin-top:10px;
}
.share-view a{
	color:#1c98e5;
}
.share-view .comment-view{
	display:inline-block;
}
.object.type-text .content-view{
	display:block;
	margin:10px 0;
	font-size:20px;
}
.branch{
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
}
.objects .branch .object.type-text-preview{
	border-bottom:0;
}
.load-nested-replies-action{
	display:block;
	padding:10px 15px;
	color:#1c98e5;
	border-bottom:5px solid rgba(204, 204, 221, 0.5);

	background:rgba(28, 152, 229, 0);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.load-nested-replies-action:hover{
	background:rgba(28, 152, 229, 0.05);
}
.new-objects{
	text-align:center;
	display:none;
	padding:10px 15px;
	color:#1c98e5;
	border-bottom:5px solid rgba(204, 204, 221, 0.5);

	background:rgba(28, 152, 229, 0);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.new-objects.show{
	display:block;
}
.new-objects:hover{
	background:rgba(28, 152, 229, 0.05);
}
.branch-line{
	display:block;
	background:rgba(204, 204, 221, 0.5);
	width:3px;
	position:absolute;
	top:65px;
	bottom:0px;
	left:calc(15px + 49px/2 + 3px);
}
.branch-more{
	display:inline-block;
	text-align:center;
	color:rgba(204, 204, 221, 0.6);
	width:59px;
	font-size:18px;
	font-weight:bold;
}
.object.type-text-preview .content-view[data-href]{
	max-height: 30vh;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
	position:relative;
}
.object.type-text-preview .content-view[data-href]:before{
	content:'';
	display:block;
	position:absolute;
	top:20vh;
	right:0;
	left:0;
	height:10vh;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
	background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.object.type-text-preview:hover .content-view[data-href]:before{
	content:'';
	display:block;
	position:absolute;
	top:20vh;
	right:0;
	left:0;
	height:10vh;
	background:-moz-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 250, 254, 0)), color-stop(100%, rgb(243, 250, 254)));
	background:-webkit-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-o-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-ms-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
}
.object.type-text .content-view a{
	color:#1c98e5;
}
.content-view p{
	margin-bottom:5px;
}
.content-view label{
	display:block;
	margin:10px 0;
}
.content-view input{
	width:100%;
	font-size:15px;
	line-height:20px;
	padding:5px 10px;
	border:1px solid #ccd;
	border-radius:15px;
}
.content-view input[type="checkbox"]{
	transform:scale(1.3);
	width:auto;
	vertical-align:middle;
}
.content-view textarea{
	width:100%;
	height:30vh;
	font-size:15px;
	line-height:20px;
	padding:5px 10px;
	border:1px solid #ccd;
	border-radius:15px;
}
.input-addon{
	font-size:14px;
	margin-bottom:10px;
}
.button{
	display:inline-block;
	background:#1c98e5;
	color:#fff !important;
	border-radius:25px;
	line-height:25px;
	font-size:18px;
	font-weight:bold;
	padding:15px 30px;
	margin:5px 0;
	box-shadow:0px 5px 15px rgba(0,0,0,0.1);
	transition-duration:0.2s;
	transition-property:background-color;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.button:hover{
	background:#1a83c4;
}
.white-button{
	background:#fff;
	color:#bbb !important;
	border:2px solid #eee;
}
.white-button:hover{
	background:#fff;
	color:#aaa !important;
	border:2px solid #ccc;
}
.button.disabled{
	opacity:0.5;
}
.error{
	font-size:15px;
	color:#e90b0b;
}
.success{
	font-size:15px;
	color:#1a83c4;
}
.success a{
	text-decoration:underline;
}
.object.type-text .date-view{
	color:#99a;
	font-size:18px;
	margin:5px 0;
}
.object.type-text .date-view div{
	display:inline;
}
.object.type-text .date-view .date::before{
	content:"·";
	margin:0 5px;
}

.actions-view{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
	justify-content:space-between;
	border-top:1px solid #dde;
	margin:10px 0;
	padding-top:10px;
}
.actions-view a{
	flex-direction:column;
	flex-basis:15%;
	color:rgba(100,100,100,0.7);
}
.actions-view a:hover{
	color:#1c98e5;
}

.tabs{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
	justify-content:flex-start;
	border-bottom:1px solid #dde;
	margin-bottom:10px;
}
.tabs a{
	display:inline-block;
	text-align:center;
	flex-direction:column;
	flex-basis:25%;
	padding:10px 0;
}
.tabs a:hover{
	color:#1c98e5;
}
.tabs a.current{
	font-weight:bold;
	box-shadow:inset 0 -4px #1c98e5;
}

div.avatar{
	width:49px;
	height:49px;
	overflow:hidden;
	border-radius:50%;
}
div.avatar .shadow{
	width:49px;
	height:49px;
	overflow:hidden;
	border-radius:50%;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,0.3);
	position: absolute;
}
div.avatar .shadow[data-href]{
	cursor:pointer;
}
div.avatar:hover .shadow{
	box-shadow: inset 0 -1px 20px rgba(50,50,100,0.3);
}
.submit-button-ring{
	display:none;
	width:50px;
	height:50px;
	vertical-align:middle;
	margin-left:20px;
}
.submit-button-ring.show{
	display:inline-block;
}
.submit-button-ring:after {
	content:" ";
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	border-radius:50%;
	border:5px solid #fff;
	border-color:rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
	animation:ring 1.5s linear infinite;
}

.loading-ring{
	display:inline-block;
	width:50px;
	height:50px;
	vertical-align:middle;
}
.loading-ring:after {
	content:" ";
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	border-radius:50%;
	border:5px solid #fff;
	border-color:rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
	animation:ring 1.5s linear infinite;
}
@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader{
	text-align:center;
	padding:20vh 0;
	width:598px;
	height:100vh;
	border:1px solid rgba(204, 204, 221, 0.6);
	border-top:0;
	border-bottom:0;
}
.loader .submit-button-ring{
	display:inline-block;
}
.loader-notice{
	text-align:center;
	padding:10vh 0;
	line-height:50px;
}
.loader-notice .submit-button-ring{
	display:inline-block;
}
.none-notice{
	text-align:center;
	padding:20vh 0;
	font-size:20px;
}
.load-more-end-notice{
	text-align:center;
	padding:10vh 0;
	font-size:15px;
	color:#888;
	line-height:50px;
}
.error-notice{
	text-align:center;
	padding:20vh 0;
	font-size:20px;
	color:#e90b0b;
}

.profile{
	padding:0 15px;
	padding-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
}
.profile .contacts{
	text-align:right;
}
.profile .contacts a{
	margin:0 5px;
	color:rgba(100,100,100,0.7);
}
.profile .contacts a:hover{
	color:#000;
}
.profile .contacts a:last-child{
	margin-right:0;
}

.text-copy{
	display:block;
	position:absolute;
	top:-100px;
	opacity:0;
}