body{
	background:#fff;
	color:#000;
	font-size:15px;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial;
	overflow:hidden;
}
body.loaded{
	overflow-y:scroll;
}
body.midnight{
	background:#14202c;
	color:#fff;
}
body.dark{
	background:#18191c;
	color:#fff;
}
body.noscroll{
	overflow:hidden;
}
hr{
	height:1px;
	border:0;
	background:rgba(204,204,221,0.5);
	margin:15px 0;
	clear:both;
	padding:0;
}
a{
	cursor:pointer;
	outline:none;
}
input,textarea{
	outline:none;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial;
}
body.midnight input,body.midnight textarea{
	background:#14202c;
	color:#fff;
}
body.dark input,body.dark textarea{
	background:#18191c;
	color:#fff;
}

.content{
	display:none;
	margin:0 auto;
	width:600px;
	max-width:600px;
	min-width:600px;
	z-index:1;
	position:relative;
}
body.publication-mode .content{
	width:auto;
	max-width:800px;
}
body.loaded .content{
	display:block;
}

.view{
	display:none;
	width:598px;
	min-height:100vh;
	border:1px solid rgba(204, 204, 221, 0.5);
	border-top:0;
	border-bottom:0;
	padding-bottom:30vh;
}
.view[data-path="dapp:publish"]{
	padding-bottom:0;
}
body.publication-mode .view{
	width:auto;
}

i.icon{
	background:rgba(105, 187, 238, 0.0);
	vertical-align:middle;
	border-radius:50%;
	display:inline-block;
	height:35px;
	width:35px;
	text-align:center;
	line-height:35px;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
i.icon svg{
	pointer-events:none;
	margin:0;
	margin-top:6px;
}
i.icon path{
	pointer-events:none;
}
i.icon:hover{
	background:rgba(105, 187, 238, 0.2);
}
i.icon.back svg{
	margin-top:4px;
	margin-left:-2px;
}
i.icon.reply svg{
	margin-left:1px;
}
i.icon.copy_link svg{
	margin-top:5px;
	margin-left:-1px;
}
i.icon.telegram svg{
	margin-left:-2px;
}
i.icon.copy svg{
	margin-top:7px;
}
i.icon.scroll svg{
	margin-top:3px;
	margin-left:1px;
}
.header a.positive i.icon{
	background:rgba(38, 196, 9, 0.1);
	color:#26be0a;
}
.header a.negative i.icon{
	background:rgba(196, 9, 9, 0.2);
	color:#be0a0a;
}

div.icon-counter{
	position:absolute;
	overflow:hidden;
	border-radius:4px;
	font-size:10px;
	background:#026fbe;
	line-height:11px;
	padding:2px 5px;
	color:#fff;
	margin-left:-28px;
	margin-top:4px;
	display:none;
	border-bottom:0;
}
.footer div.icon-counter{
	margin-left:-18px;
	margin-top:17px;
}
div.icon-counter.show{
	display:inline-block;
}

div.menu.short div.icon-counter{
	margin-left:-18px;
}

div.right-addon{
	top:0;
	position:fixed;
	left:50%;
	margin-left:300px;
	padding:0 20px;
	line-height:50px;
	font-size:18px;
	min-width:275px;
	max-width:275px;
}
div.right-addon .links{
	font-size:14px;
	text-align:center;
	color:#1c98e5;
	word-break:break-word;
	opacity:0.5;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
div.right-addon:hover .links{
	opacity:1;
}
body.publication-mode div.right-addon{
	display:none !important;
}
div.right-addon .box:first-child{
	margin-top:65px;
}
div.right-addon .box{
	background:rgba(28, 152, 229, 0.05);
	border-radius: 10px;
	padding:0 10px;
	padding-bottom:10px;
	max-height:60vh;
	overflow:hidden;
}
body.dark div.right-addon .box{
	background:rgba(179, 180, 184, 0.05);
}
div.right-addon .box .box-header{
	justify-content: space-between;
	display:flex;
	flex-direction:row;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
}
div.right-addon .box .box-buttons{
}
div.right-addon .box .box-title{
	font-size:20px;
	font-weight:bold;
}
div.right-addon .box .box-subtitle{
	font-size:18px;

}
div.right-addon .box .box-container{
	font-size:18px;
	line-height:30px;
	padding-bottom:5px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	max-height:30vh;
	overflow:hidden;
}
.adaptive-pinned-tags{
	display:none;
	margin-top:25px;
}
div.right-addon .box .box-container .box-item::before{
	content:'•';
	margin-right:5px;
	position:relative;
	top:1px;
	opacity:0.4;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
div.right-addon .box .box-container .box-item:hover::before{
	opacity:1;
}
div.right-addon .box .box-container a{
	color:#1c98e5;
	word-break:break-word;
}
div.right-addon .box .box-buttons a{
	color:#1c98e5;
}
body.dark div.right-addon .box .box-container a{
	color:#3daff5;
}
body.dark div.right-addon .box .box-buttons a{
	color:#3daff5;
}
div.right-addon .box .box-container:last-child{
	padding-bottom:0;
	border-bottom:none;
}

div.menu{
	top:0;
	position:fixed;
	right:50%;
	margin-right:300px;
	padding:0 20px;
	line-height:50px;
	font-size:19px;
	min-width:275px;
}
body.publication-mode div.menu{
	display:none;
}
div.menu a,.header a,.actions-view a,.tabs a,.contacts a,.fast-publish-action,.footer a,.publish-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}
div.menu .toggle-menu{
	display:none;
}
div.menu .session{
	line-height:55px;
	height:55px;
}
div.menu .session .avatar{
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
div.menu .session .account{
	display:inline-block;
	vertical-align:middle;
	line-height:22px;
}
div.menu .session .account-name{
	display:block;
	font-size:18px;
	font-weight:bold;
	text-overflow:ellipsis;
    width:176px;
    overflow:hidden;
    white-space:nowrap;
}
div.menu .session .account-login{
	color:rgba(96, 112, 124, 0.7);
	text-overflow:ellipsis;
    width:176px;
    overflow:hidden;
    white-space:nowrap;
}
body.midnight div.menu .session .account-login{
	color:rgba(165, 180, 192, 0.7);
}
body.dark div.menu .session .account-login{
	color:rgba(179, 180, 184, 0.7);
}
div.menu .primary{
	position:relative;
	z-index:6;
	padding-top:10px;
}
div.menu .primary a{
	padding:0 20px;
	padding-left:5px;
	margin:10px 0;
	font-weight:bold;
	background:rgba(105, 187, 238, 0.0);
	vertical-align:middle;
	line-height:36px;
	border-radius:25px;
	min-width:100%;
	display:inline-block;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
div.menu .primary a.current{
	color:#1c98e5;
}
body.dark div.menu .primary a.current{
	color:#3daff5;
}
div.menu .primary a span{
	pointer-events:none;
}
div.menu .primary a .icon{
	margin-right:10px;
}
div.menu .primary a:hover{
	background:rgba(105, 187, 238, 0.2);
}
body.dark div.menu .primary a:hover{
	background:rgba(179, 180, 184, 0.2);
}
div.menu .primary a i.icon{
	background:none;
}
div.menu .primary a i.icon:hover{
	background:none;
}
div.menu .primary a i.icon svg{
	margin:0;
	margin-top:4px;
}
div.publish-button{
	display:block;
	cursor:pointer;
	background:#1c98e5;
	color:#fff !important;
	border-radius:25px;
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	margin:15px auto;
	text-align:center;
	box-shadow:0px 5px 15px rgba(0,0,0,0.1);
	transition-duration:0.3s;
	transition-property:background-color;
	-webkit-transition:background-color 0.3s ease-out;
	-moz-transition:background-color 0.3s ease-out;
	-ms-transition:background-color 0.3s ease-out;
	-o-transition:background-color 0.3s ease-out;
	transition:background-color 0.3s ease-out;

	padding:10px 30px;
	width:235px;
	text-align:center;
}
div.publish-button i.icon{
	display:none;
	margin-top:2px;
	background:none;
}
.footer div.publish-button{
	width:38px;
	height:38px;
	vertical-align:middle;
	padding:0;
	margin:0;
	flex-direction:column;
	flex-basis:auto;
	line-height:52px;
	align-self:center;
	text-align:center;
}
.footer div.publish-button i.icon{
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
div.publish-button span{
	display:inline-block;
}
div.publish-button:hover{
	background:#1a83c4;
}
div.menu.short div.publish-button{
	margin-left:4px;
	padding:0;
	width:40px;
	height:40px;
	overflow:hidden;
}
div.menu.short div.publish-button i.icon{
	display:inline-block;
}
div.menu.short div.publish-button span{
	display:none;
}
div.menu.hidden{
	display:none;
}
div.menu.short{
	padding:0 20px;
	min-width:50px;
}
div.menu.short .session{
	text-align:center;
}
div.menu.short .session .account{
	display:none;
}
div.menu.short .primary a span{
	display:none;
}
div.menu.short .session .avatar{
	margin-right:0;
}

div.menu.short .primary{
	text-align:center;
}
div.menu.short .primary a{
	padding:0;
	text-align:center;
	min-width:40px;
	min-height:40px;
}
div.menu.short .primary a .icon{
	margin-right:0;
}
div.menu.short .primary a .icon{
	margin-right:0;
}

.header{
	height:50px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	padding:0 15px;
	font-size:20px;
	line-height:40px;
	display:flex;
	flex-direction:row;
	-webkit-box-pack:justify;
	justify-content:auto;
	-webkit-box-align:stretch;
	align-items:stretch;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;

	background:#fff;
	color #fff;
}
body.midnight .header{
	background:#14202c;
	color:#fff;
}
body.dark .header{
	background:#18191c;
	color:#fff;
}
.footer{
	height:50px;
	border-top:1px solid rgba(204, 204, 221, 0.6);
	padding:0 15px;
	font-size:20px;
	line-height:40px;
	display:flex;
	flex-direction:row;
	-webkit-box-pack:justify;
	justify-content:auto;
	-webkit-box-align:stretch;
	align-items:stretch;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;

	background:#fff;
	color #fff;
	display:none;
}
body.midnight .footer{
	background:#14202c;
	color:#fff;
}
body.dark .footer{
	background:#18191c;
	color:#fff;
}
.footer a {
    color:#1c98e5;
}
body.dark .footer a{
	color:#3daff5;
}
.footer.space-between{
	justify-content:space-between;
}
.footer.space-around{
	justify-content:space-around;
}
.footer div,.footer a{
	flex-direction:column;
	flex-basis:auto;
}
.footer a{
	margin:0 5px;
}
.footer a:first-child{
	margin-left:0;
}
.footer a:last-child{
	margin-right:0;
}
.footer .grow{
	flex-grow:1;
}
.header.space-between{
	justify-content:space-between;
}
.header.space-around{
	justify-content:space-around;
}
.header div,.header a{
	flex-direction:column;
	flex-basis:auto;
}
.header a{
	margin:0 5px;
}
.header a:first-child{
	margin-left:0;
}
.header a:last-child{
	margin-right:0;
}
.header .grow{
	flex-grow:1;
}
.header .caption{
	margin-left:15px;
	font-weight:bold;
	line-height:45px;
	height:50px;
	overflow:hidden;
	word-break:break-all;
}
.header .link{
	padding:0 10px;
}
.header-link-wrapper{
	position: relative;
	top:8px;
	height:35px;
	width:100%;
	line-height:24px;
	padding:5px 10px;
	border:1px solid rgba(204, 204, 221, 0.5);
	border-radius:18px;
	overflow:hidden;
}
.header-link{
	width:100%;
	line-height:24px;
	padding:5px 12px;
	margin:0;
	border:0;
	border-radius:0;
	position:absolute;
	left:0;
	top:0;
	z-index:3;
}
.header-link-icons{
	position:absolute;
	right:0;
	top:-2px;
	z-index:4;
	color:rgba(180,180,180,1.0);
}
.header-link-icons i.icon{
	cursor:pointer;
	outline:none;
}
.header-link-icons i.icon.copy{
	color:rgba(180,180,180,0.6);
}
.header-link-icons i.icon:hover{
	background:rgba(105, 187, 238, 0.0);
	color:rgba(28,152,229,1.0);
}
.header-link-icons i.icon.success{
	background:rgba(105, 187, 238, 0.0);
	color:rgba(38, 196, 9, 0.8);
}
.header a{
	color:#1c98e5;
}
body.dark .header a{
	color:#3daff5;
}
.notifications{
	position:fixed;
	z-index:10;
	right:50%;
	margin-right:-298px;
	width:598px;
	top:-0;
	padding:0;
}
.notifications .notify-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	height:0px;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.notifications .notify-wrapper.show{
	height:100px;
}
.notifications .notify-wrapper.line.show{
	height:70px;
}
.notifications .notify-wrapper .notify{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	font-size:20px;
	margin:20px;
	margin-top:0;
	padding:10px 15px;
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" transform="rotate(-10)" viewBox="0 0 24 24" fill="none" stroke="rgba(150,150,150,0.4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>') 15px 50% no-repeat #ffffff;
	border-radius:15px;
	box-shadow:0 4px 8px 2px rgba(180,180,180,0.4);
	text-align:right;
	cursor:pointer;
	outline:0;
}
body.midnight .notifications .notify-wrapper .notify{
	background-color:#14202c;
}
body.dark .notifications .notify-wrapper .notify{
	background-color:#242529;
}
.notifications .notify-wrapper .notify .title{
	font-weight:bold;
	pointer-events:none;
}
.notifications .notify-wrapper .notify .text{
	display:inline-block;
	overflow:hidden;
	max-width:460px;
	text-overflow:ellipsis;
	white-space:nowrap;
	pointer-events:none;
}
.notifications .notify-wrapper .notify a{
	display:inline-block;
	overflow:hidden;
	max-width:460px;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#1c98e5;
}
body.dark .notifications .notify-wrapper .notify a{
	color:#3daff5;
}
.hashtag-item{
	font-size:20px;
	margin-top:0;
	padding:10px 15px;
	text-align:left;
	cursor:pointer;
	outline:0;

	position:relative;
	display:flex;
	flex-direction:row;

	border-bottom:1px solid rgba(204, 204, 221, 0.5);

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.hashtag-item:hover{
	background-color:rgba(28, 152, 229, 0.05);
}
body.dark .hashtag-item:hover{
	background-color:rgba(179, 180, 184, 0.05);
}
.hashtag-item.nohover:hover{
	background-color:transparent !important;
}
.hashtag-item-num{
	opacity:0.4;
	min-width:7%;
	padding-right:10px;
}
.pin-hashtag-to-top-action{
	margin:0 15px 0 10px;
	float:right;
}
.hashtag-item-caption{
	word-break:break-word;
	flex-grow:1;
}
.hashtag-item-caption a{
	color:#1c98e5;
}
body.dark .hashtag-item-caption a{
	color:#3daff5;
}
.hashtag-item-count{
}

.user-item-box{
	line-height:20px;
	font-size:14px;
	margin-top:0;
	padding:10px 15px;
	text-align:left;
	outline:0;
	position:relative;
	display:flex;
	flex-direction:row;
	border-bottom:1px solid rgba(204, 204, 221, 0.5);
}
.user-item-box.search-results{
	display:none;
}
.user-item{
	line-height:44px;
	font-size:20px;
	margin-top:0;
	padding:10px 15px;
	text-align:left;
	outline:0;

	position:relative;
	display:flex;
	flex-direction:row;

	border-bottom:1px solid rgba(204, 204, 221, 0.5);

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.user-item:hover{
	background-color:rgba(28, 152, 229, 0.05);
}
body.dark .user-item:hover{
	background-color:rgba(179, 180, 184, 0.05);
}
.user-item.nohover:hover{
	background-color:transparent !important;
}
.user-item-avatar{
	margin-right:10px;
}
.user-item-nickname{
	font-weight:bold;
	margin-right:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.user-item-account{
	color:rgba(96, 112, 124, 0.7);
	flex-grow:1;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.user-item-search{
	width:100%;
	line-height:20px;
	padding:5px 10px;
	border:1px solid rgba(165, 180, 192, 0.7);
	border-radius:15px;
}
.user-item-manage a{
	color:#1c98e5;
}
body.dark .user-item-manage a{
	color:#3daff5;
}
.notify-item{
	font-size:20px;
	margin-top:0;
	padding:10px 15px;
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" transform="rotate(10)" viewBox="0 0 24 24" fill="none" stroke="rgba(150,150,150,0.4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>') 545px 50% no-repeat rgba(28, 152, 229, 0);
	text-align:left;
	cursor:pointer;
	outline:0;

	position:relative;
	display:block;
	border-bottom:1px solid rgba(204, 204, 221, 0.5);
	color:#000;

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
body.midnight .notify-item{
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" transform="rotate(10)" viewBox="0 0 24 24" fill="none" stroke="rgba(150,150,150,0.4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>') 545px 50% no-repeat rgba(28, 152, 229, 0);
	color:#fff;
}
body.dark .notify-item{
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" transform="rotate(10)" viewBox="0 0 24 24" fill="none" stroke="rgba(150,150,150,0.4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>') 545px 50% no-repeat rgba(179, 180, 184, 0);
	color:#fff;
}
.notify-item:hover{
	background-color:rgba(28, 152, 229, 0.05);
}
body.midnight .notify-item:hover{
	background-color:rgba(28, 152, 229, 0.05);
}
body.dark .notify-item:hover{
	background-color:rgba(179, 180, 184, 0.05);
}
.objects .object.type-text-preview:hover{
	background:rgba(28, 152, 229, 0.05);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
body.dark .objects .object.type-text-preview:hover{
	background:rgba(36, 37, 41, 1);
}
.notify-item.line{
	height:70px;
}
.notify-item.readed{
	opacity:0.6;
}
.notify-item.readed:hover{
	opacity:1.0;
}
.notify-item .title{
	font-weight:bold;
	pointer-events:none;
}
.notify-item .text{
	display:inline-block;
	overflow:hidden;
	max-width:460px;
	text-overflow:ellipsis;
	white-space:nowrap;
	pointer-events:none;
}
.notify-item a{
	display:inline-block;
	overflow:hidden;
	max-width:460px;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#1c98e5;
	pointer-events:none;
}
body.dark .notify-item a{
	color:#3daff5;
}
.objects .object{
	position:relative;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.5);
	color:#000;
}
body.midnight .objects .object{
	color:#fff;
}
body.dark .objects .object{
	color:#fff;
}
.objects .object.type-text-loading{
	border-bottom:none;
	padding:0;
	margin-top:0;
	display: flex;
	flex-direction:column;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
}
.objects .object.type-text-loading .load-placeholder{
	text-align:center;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	color:#000;
}

.objects .object.type-text-wait-loading{
	border-bottom:none;
	padding:0;
	margin-top:0;
	display: flex;
	flex-direction:column;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
}
.objects .object.type-text-wait-loading .load-placeholder{
	text-align:center;
	display:block;
	padding:10px 15px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	color:#000;
}
.object.type-text .author-view{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
}
.object.type-text-preview{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
}
.object.type-text-preview .avatar-column{
	flex-direction:column;
	flex-basis:auto;
	flex-basis:49px;
	margin:0 5px;
}
.author-view .avatar-column{
	flex-direction:column;
	flex-basis:auto;
	flex-basis:49px;
	margin:0 5px;
}
.author-view .author-column{
	display:flex;
	flex-direction:row;
	flex-basis:auto;
	flex-grow:1;
	margin:0 5px;
}
.author-column .profile-name{
	font-weight:bold;
	flex-shrink:1;
	white-space:nowrap;
}
.author-column .profile-link{
	color:rgba(96, 112, 124, 0.7);
	margin-left:5px;
	flex-shrink:1;
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
body.midnight .author-column .profile-link{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .author-column .profile-link{
	color:rgba(179, 180, 184, 0.7);
}
.author-column .short-date-view::before{
	content:"·";
	margin:0 5px;
}
.author-column .short-date-view{
	color:rgba(96, 112, 124, 0.7);
	white-space:nowrap;
}
body.midnight .author-column .short-date-view{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .author-column .short-date-view{
	color:rgba(179, 180, 184, 0.7);
}
.object.type-text-preview .object-column{
	flex-direction:column;
	flex-basis:auto;
	flex-grow:1;
	margin:0 5px;
	overflow:hidden;
}
.object.type-text-preview .object-column .author-column{
	margin:0;
}
.object.type-text .author-column .profile-name{
	display:block;
	line-height:49px;
}
.object.type-text .author-column .profile-link{
	display:block;
	margin-left:5px;
	line-height:49px;
}
.reply-view{
	margin:2px 0;
	color:rgba(96, 112, 124, 0.7);
}
body.midnight .reply-view{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .reply-view{
	color:rgba(179, 180, 184, 0.7);
}
.object.type-text .reply-view{
	margin:0;
	margin-top:10px;
}
.reply-view a{
	color:#1c98e5;
}
body.dark .reply-view a{
	color:#3daff5;
}
.share-view{
	margin: 0 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	color:rgba(96, 112, 124, 0.7);
}
.objects .share-view:first-child{
	margin-top:5px;
}
body.midnight .share-view{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .share-view{
	color:rgba(179, 180, 184, 0.7);
}
.object.type-text .share-view{
	margin:0;
	margin-top:10px;
}
.share-view .icon{
	max-width:18px;
	max-height:18px;
	line-height:18px;
}
.share-view .icon svg{
	max-width:18px;
	max-height:18px;
	margin:0;
}
.share-view .icon:hover{
	background:none;
}
.share-view a{
	color:#1c98e5;
}
body.dark .share-view a{
	color:#3daff5;
}
.share-view .comment-view{
	display:inline-block;
}
.object.type-text .content-view{
	display:block;
	margin:10px 0;
	font-size:20px;
	word-break:break-word;
}
.fast-publish-wrapper{
	position:relative;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
	height:auto;
}
.fast-publish-wrapper .avatar{
	position:absolute;
	left:15px;
	margin-top:10px;
}
.fast-publish-wrapper .buttons{
	position:absolute;
	right:20px;
	bottom:15px;
	line-height:18px;
	font-size:18px;
}
.fast-publish-wrapper .button{
	padding:7px;
	padding-top:4px;
	cursor:pointer;
	outline:none;
	min-width:35px;
	text-align:center;
}
.fast-publish-wrapper .icon{
	max-width:18px;
	max-height:18px;
	line-height:18px;
}
.fast-publish-wrapper .icon svg{
	max-width:18px;
	max-height:18px;
	margin-top:0;
}
.fast-publish-wrapper .button.disabled{
	opacity:0.4;
}
.fast-publish-wrapper .button i.icon:hover{
	background:none;
}
.fast-publish-wrapper .text{
	display:block;
	border:0;

	height:100%;
	min-width:100%;
	max-width:100%;
	min-height:15vh;
	max-height:80vh;
	font-size:18px;
	line-height:22px;
	padding:15px 80px;
	padding-bottom:50px;

	width:100%;
	border-bottom:9px solid rgba(204, 204, 221, 0.5);
	margin:0;

	overflow-y:auto;
	scrollbar-width:thin;
	outline:none;
}
.fast-publish-wrapper .placeholder{
	position:absolute;
	font-size:18px;
	line-height:22px;
	padding:15px 80px;
	color:#aaa;
	pointer-events:none;
}
.fast-publish-wrapper textarea{
	display:block;
	border:0;

	height:100%;
	min-width:100%;
	max-width:100%;
	min-height:15vh;
	max-height:80vh;
	font-size:18px;
	line-height:22px;
	padding:15px 80px;

	width:100%;
	border-bottom:9px solid rgba(204, 204, 221, 0.5);
	margin:0;

	scrollbar-width: thin;
}
.fast-publish-wrapper textarea::-webkit-scrollbar{
	width:15px;
}
.fast-publish-wrapper textarea::-webkit-scrollbar-track{
	background:rgba(200, 200, 220, 0.3);
}
.fast-publish-wrapper textarea::-webkit-scrollbar-thumb{
	background:rgba(200, 200, 220, 1.0);
}
.fast-publish-wrapper textarea::-webkit-scrollbar-thumb:hover{
	background:rgba(150, 150, 150, 1.0);
}
.branch{
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
}
.objects .branch .object.type-text-preview{
	border-bottom:0;
}
.load-nested-replies-action{
	display:block;
	padding:10px 15px;
	color:#1c98e5;
	border-bottom:5px solid rgba(204, 204, 221, 0.5);

	background:rgba(28, 152, 229, 0);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
body.dark .load-nested-replies-action{
	color:#3daff5;
}
.load-nested-replies-action:hover{
	background:rgba(28, 152, 229, 0.05);
}
.new-objects{
	text-align:center;
	display:none;
	padding:10px 15px;
	color:#1c98e5;
	border-bottom:5px solid rgba(204, 204, 221, 0.5);

	background:rgba(28, 152, 229, 0);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
body.dark .new-objects{
	color:#3daff5;
}
.new-objects.show{
	display:block;
}
.new-objects:hover{
	background:rgba(28, 152, 229, 0.05);
}
.branch-line{
	display:block;
	background:rgba(204, 204, 221, 0.5);
	width:3px;
	position:absolute;
	top:65px;
	bottom:0px;
	left:calc(15px + 49px/2 + 3px);
}
.branch-more{
	display:inline-block;
	text-align:center;
	color:rgba(204, 204, 221, 0.6);
	width:59px;
	font-size:18px;
	font-weight:bold;
}
.object.type-text-preview .content-view[data-href]{
	max-height: 30vh;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
	position:relative;
	word-break:break-word;
}
.object.type-text-preview .content-view[data-href]:before{
	content:'';
	display:block;
	position:absolute;
	top:20vh;
	right:0;
	left:0;
	height:10vh;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
	background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:-ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background:linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.object.type-text-preview:hover .content-view[data-href]:before{
	content:'';
	display:block;
	position:absolute;
	top:20vh;
	right:0;
	left:0;
	height:10vh;
	background:-moz-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 250, 254, 0)), color-stop(100%, rgb(243, 250, 254)));
	background:-webkit-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-o-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:-ms-linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
	background:linear-gradient(top, rgba(243, 250, 254, 0) 0%, rgb(243, 250, 254) 100%);
}
.object.type-text-preview .content-view a{
	color:#1c98e5;
}
.object.type-text .content-view a{
	color:#1c98e5;
}
body.midnight .object.type-text-preview .content-view[data-href]:before{
	background:-moz-linear-gradient(top, rgba(20, 32, 44, 0) 0%, #14202c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(20, 32, 44, 0)), color-stop(100%, #14202c));
	background:-webkit-linear-gradient(top, rgba(20, 32, 44, 0) 0%, #14202c 100%);
	background:-o-linear-gradient(top, rgba(20, 32, 44, 0) 0%, #14202c 100%);
	background:-ms-linear-gradient(top, rgba(20, 32, 44, 0) 0%, #14202c 100%);
	background:linear-gradient(top, rgba(20, 32, 44, 0) 0%, #14202c 100%);
}
body.midnight .object.type-text-preview:hover .content-view[data-href]:before{
	background:-moz-linear-gradient(top, rgba(20, 38, 54, 0) 0%, rgb(20, 38, 54) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(20, 38, 54, 0)), color-stop(100%, rgb(20, 38, 54)));
	background:-webkit-linear-gradient(top, rgba(20, 38, 54, 0) 0%, rgb(20, 38, 54) 100%);
	background:-o-linear-gradient(top, rgba(20, 38, 54, 0) 0%, rgb(20, 38, 54) 100%);
	background:-ms-linear-gradient(top, rgba(20, 38, 54, 0) 0%, rgb(20, 38, 54) 100%);
	background:linear-gradient(top, rgba(20, 38, 54, 0) 0%, rgb(20, 38, 54) 100%);
}
body.midnight .object.type-text .content-view a{
	color:#1c98e5;
}
body.midnight .object.type-text-preview .content-view a{
	color:#1c98e5;
}
body.dark .object.type-text-preview .content-view[data-href]:before{
	background:-moz-linear-gradient(top, rgba(24, 25, 28, 0) 0%, #18191c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(24, 25, 28, 0)), color-stop(100%, #18191c));
	background:-webkit-linear-gradient(top, rgba(24, 25, 28, 0) 0%, #18191c 100%);
	background:-o-linear-gradient(top, rgba(24, 25, 28, 0) 0%, #18191c 100%);
	background:-ms-linear-gradient(top, rgba(24, 25, 28, 0) 0%, #18191c 100%);
	background:linear-gradient(top, rgba(24, 25, 28, 0) 0%, #18191c 100%);
}
body.dark .object.type-text-preview:hover .content-view[data-href]:before{
	background:-moz-linear-gradient(top, rgba(36, 37, 41, 0) 0%, rgb(36, 37, 41) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(36, 37, 41, 0)), color-stop(100%, rgb(36, 37, 41)));
	background:-webkit-linear-gradient(top, rgba(36, 37, 41, 0) 0%, rgb(36, 37, 41) 100%);
	background:-o-linear-gradient(top, rgba(36, 37, 41, 0) 0%, rgb(36, 37, 41) 100%);
	background:-ms-linear-gradient(top, rgba(36, 37, 41, 0) 0%, rgb(36, 37, 41) 100%);
	background:linear-gradient(top, rgba(36, 37, 41, 0) 0%, rgb(36, 37, 41) 100%);
}
body.dark .object.type-text .content-view a{
	color:#3daff5;
}
.content-view p{
	margin-bottom:5px;
}
.content-view label{
	display:block;
	margin:10px 0;
}
.content-view input{
	width:100%;
	line-height:20px;
	padding:5px 10px;
	border:1px solid rgba(165, 180, 192, 0.7);
	border-radius:15px;
}
.content-view input[type="checkbox"]{
	transform:scale(1.3);
	width:auto;
	vertical-align:middle;
}
.content-view input[type="radio"]{
	transform:scale(1.3);
	width:auto;
	vertical-align:middle;
}
.content-view textarea{
	width:100%;
	height:30vh;
	line-height:20px;
	padding:5px 10px;
	border:1px solid rgba(165, 180, 192, 0.7);
	border-radius:15px;
}
.input-addon{
	font-size:14px;
	margin-bottom:10px;
}
.button{
	display:inline-block;
	background:#1c98e5;
	color:#fff !important;
	border-radius:25px;
	line-height:25px;
	font-size:18px;
	font-weight:bold;
	padding:15px 30px;
	margin:5px 0;
	box-shadow:0px 5px 15px rgba(0,0,0,0.1);
	transition-duration:0.2s;
	transition-property:background-color;
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.button:hover{
	background:#1a83c4;
}
.neutral-button{
	background:#fff;
	color:#bbb !important;
	border:2px solid #eee;
}
.neutral-button:hover{
	background:#fff;
	color:#aaa !important;
	border:2px solid #ccc;
}
body.midnight .neutral-button{
	background:#101520;
	color:#666 !important;
	border:2px solid #111;
}
body.midnight .neutral-button:hover{
	background:#101520;
	color:#bbb !important;
	border:2px solid #222;
}
body.dark .neutral-button{
	background:#242529;
	color:#666 !important;
	border:2px solid #111;
}
body.dark .neutral-button:hover{
	background:#242529;
	color:#bbb !important;
	border:2px solid #222;
}
.button.disabled{
	opacity:0.5;
}
.error{
	color:rgba(96, 112, 124, 0.7);
}
body.midnight .error{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .error{
	color:rgba(179, 180, 184, 0.7);
}
.sync-import-error{
	color:red;
}
.success{
	color:#1a83c4;
}
.success a{
	text-decoration:underline;
}
.object.type-text .date-view{
	color:rgba(165, 180, 192, 0.7);
	font-size:18px;
	margin:5px 0;
}
.object.type-text .date-view div{
	display:inline;
}
.object.type-text .date-view .date::before{
	content:"·";
	margin:0 5px;
}

.actions-view{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
	justify-content:space-between;
	margin:10px 0;
	padding-top:10px;
}
.actions-view a{
	flex-direction:column;
	flex-basis:15%;
	color:rgba(100,100,100,0.7);
	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.actions-view a:hover{
	color:#1c98e5;
}
body.dark .actions-view a:hover{
	color:#3daff5;
}
.actions-view a.success i.icon{
	background:rgba(38, 196, 9, 0.1);
	color:#26be0a;
}

.tabs{
	display:flex;
	flex-direction:row;
	-webkit-box-direction:normal;
	-webkit-box-orient:horizontal;
	justify-content:flex-start;
	border-bottom:1px solid rgba(204, 204, 221, 0.5);
	margin-bottom:5px;
	overflow-x:auto;
}
.tabs::-webkit-scrollbar{
	width:2px;
	height:2px;
}
.tabs::-webkit-scrollbar-track{
	background:rgba(200, 200, 220, 0.3);
}
.tabs::-webkit-scrollbar-thumb{
	background:rgba(200, 200, 220, 1.0);
}
.tabs::-webkit-scrollbar-thumb:hover{
	background:rgba(150, 150, 150, 1.0);
}
.tabs a{
	display:inline-block;
	text-align:center;
	flex-direction:column;
	flex-basis:25%;
	padding:14px 8px;
	white-space:nowrap;
}
.tabs a:hover{
	color:#1c98e5;
}
.tabs a.current{
	font-weight:bold;
	box-shadow:inset 0 -4px #1c98e5;
}
body.dark .tabs a:hover{
	color:#3daff5;
}
body.dark .tabs a.current{
	box-shadow:inset 0 -4px #3daff5;
}

div.avatar{
	width:49px;
	height:49px;
	overflow:hidden;
	border-radius:50%;
}
div.avatar .shadow{
	width:49px;
	height:49px;
	overflow:hidden;
	border-radius:50%;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,0.3);
	position: absolute;
}
div.avatar .shadow[data-href]{
	cursor:pointer;
}
div.avatar:hover .shadow{
	box-shadow: inset 0 -1px 20px rgba(50,50,100,0.3);
}
.submit-button-ring{
	display:none;
	width:50px;
	height:50px;
	vertical-align:middle;
	margin-left:20px;
}
.submit-button-ring.show{
	display:inline-block;
}
.submit-button-ring:after {
	content:" ";
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	border-radius:50%;
	border:5px solid #fff;
	border-color:rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
	animation:ring 1.5s linear infinite;
}
body.midnight .submit-button-ring:after {
	border:5px solid #000;
	border-color:rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}
body.dark .submit-button-ring:after {
	border:5px solid #000;
	border-color:rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}

.loading-ring{
	display:inline-block;
	width:50px;
	height:50px;
	vertical-align:middle;
}
.loading-ring:after {
	content:" ";
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	border-radius:50%;
	border:5px solid #fff;
	border-color:rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3) transparent;
	animation:ring 1.5s linear infinite;
}
body.midnight .loading-ring:after {
	border:5px solid #000;
	border-color:rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}
body.dark .loading-ring:after {
	border:5px solid #000;
	border-color:rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader{
	text-align:center;
	padding:20vh 0;
	max-width:598px;
	height:100vh;
	border:1px solid rgba(204, 204, 221, 0.6);
	border-top:0;
	border-bottom:0;
}
.loader .submit-button-ring{
	display:inline-block;
}
.loader-notice{
	text-align:center;
	padding:10vh 0;
	line-height:50px;
}
.loader-notice .submit-button-ring{
	display:inline-block;
}
.none-notice{
	text-align:center;
	padding:20vh 0;
	font-size:20px;
}
.load-more-end-notice{
	text-align:center;
	padding:10vh 0;
	color:rgba(96, 112, 124, 0.7);
	line-height:50px;
}
body.midnight .load-more-end-notice{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .load-more-end-notice{
	color:rgba(179, 180, 184, 0.7);
}
.error-notice{
	text-align:center;
	padding:20vh 0;
	font-size:20px;
	color:rgba(96, 112, 124, 0.7);
}
body.midnight .error-notice{
	color:rgba(165, 180, 192, 0.7);
}
body.dark .error-notice{
	color:rgba(179, 180, 184, 0.7);
}
div.menu .secondary{
	position:fixed;
	z-index:5;
	text-align:left;
	width:235px;
	bottom:0;
	margin:10px;
	font-size:14px;
	color:rgba(96, 112, 124, 0.5);
}
div.menu .secondary div{
	display:block;
}
body.midnight div.menu .secondary{
	color:rgba(165, 180, 192, 0.5);
}
body.dark div.menu .secondary{
	color:rgba(179, 180, 184, 0.5);
}
div.menu .secondary a{
	text-decoration:underline;
}

.profile{
	padding:0 15px;
	padding-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid rgba(204, 204, 221, 0.6);
}
.profile .contacts{
	text-align:right;
}
.profile .contacts a{
	margin:0 5px;
	color:rgba(100,100,100,0.7);
}
.profile .contacts a:hover{
	color:#000;
}
.profile .contacts a:last-child{
	margin-right:0;
}

.text-copy{
	display:block;
	position:absolute;
	top:-100px;
	opacity:0;
}

.adaptive-show{
	display:none !important;
}
.adaptive-show-inline{
	display:none !important;
}
.adaptive-show-flex{
	display:none !important;
}
.adaptive-hide{
	display:block !important;
}
.adaptive-hide-inline{
	display:inline-block !important;
}
.adaptive-hide-flex{
	display:flex !important;
}

.startup-screen{
	z-index:100;
	position:fixed;
	background:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center;
}
body.loaded .startup-screen{
	display:none;
}
.startup-screen .startup-logo{
	width:80vw;
	margin-top:-8%;
	text-align:center;
}
.startup-screen .startup-logo svg{
	width:60vw;
	max-height:120px;
}
.runs-on{
	text-align:center;
	position:fixed;
	bottom:0px;
	width:100vw;
	padding:20px;
	font-size:20px;
	color:rgba(0,0,0,0.6);
	text-shadow:1px 1px 0 #fff;
}

#whitelabel-logo .animation{
	opacity:0;
	-webkit-transition: all 0.9s ease-in;
	-moz-transition: all 0.9s ease-in;
	-ms-transition: all 0.9s ease-in;
	-o-transition: all 0.9s ease-in;
	transition: all 0.9s ease-in;
	transition-delay:0.1s;
}
#whitelabel-logo.animation .animation{
	opacity:1;
}
#whitelabel-logo .back-animation{
	opacity:1;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#whitelabel-logo.animation .back-animation{
	opacity:0;
}

.interests{
	margin:5px 0;
}
.interests a{
	display:inline-block;
	white-space:nowrap;
	max-width:300px;
	text-overflow:ellipsis;
    overflow:hidden;
    background:#1c98e5;
    border-radius:5px;
    padding:0 5px;
    padding-bottom:2px;
    margin-right:5px;
    color:#fff !important;
    font-size:15px;
    line-height:25px;
    -webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
	opacity:0.6;
}
.interests a:hover{
	opacity:1;
}
.interests a.selected{
	text-decoration:underline;
	opacity:1;
}
.interests a:first-child{
	margin-left:0 !important;
}
body.midnight .interests a{
	color:#000 !important;
}
body.dark .interests a{
	background:#3daff5;
	color:#000 !important;
}

.categories{
	margin:5px 0;
}
.categories a{
	display:inline-block;
	white-space:nowrap;
	max-width:300px;
	text-overflow:ellipsis;
    overflow:hidden;
    background:#e51c1c;
    border-radius:5px;
    padding:0 5px;
    padding-bottom:2px;
    margin-right:5px;
    color:#fff !important;
    font-size:15px;
    line-height:25px;
    -webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
	opacity:0.6;
}
.categories a:hover{
	opacity:1;
}
.categories a.selected{
	text-decoration:underline;
	opacity:1;
}
.categories a:first-child{
	margin-left:0 !important;
}
body.midnight .categories a{
	color:#000 !important;
}
body.dark .categories a{
	color:#000 !important;
}

.preview-container{
	position:relative;
	box-sizing:border-box;
}

.preview-article-wrapper{
	overflow:hidden;
	max-width:100%;
	max-height:100vh;
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border:1px solid rgba(204, 204, 221, 0.5);
	border-radius:10px;
	display:flex;
	flex-direction:row;
	background:rgba(28, 152, 229, 0.05);
	margin-top:10px;
	text-decoration:none;
	box-sizing:border-box;
}
body.dark .preview-article-wrapper{
	background:rgba(179, 180, 184, 0.05);
}
.preview-article-link{
	position:relative;
	cursor:pointer;
}
.preview-article-link a{
	display:block;
	color:#000;
	text-decoration:none;
	margin:5px 10px;
}
body.dark .preview-article-link a{
	color:#fff;
}
body.midnight .preview-article-link a{
	color:#fff;
}
.preview-article-link .preview-article-link-title{
	font-size:18px;
}
.preview-article-link .preview-article-link-descr{
	opacity:0.8;
	margin-bottom:10px;
}
.preview-article-image{
	position:relative;
	display:flex;
	cursor:pointer;
}
.preview-article-image img{
	width:100%;
	pointer-events:none;
	align-self:flex-start;
}

.preview-wrapper{
	overflow:hidden;
	max-width:100%;
	max-height:100vh;
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border:1px solid rgba(204, 204, 221, 0.5);
	border-radius:10px;
	display:flex;
	flex-direction:row;
	background:rgba(28, 152, 229, 0.05);
	margin-top:10px;
	text-decoration:none;
	box-sizing:border-box;
}
body.dark .preview-wrapper{
	background:rgba(179, 180, 184, 0.05);
}
.preview-link{
	position:relative;
}
.preview-link div{
	color:#000;
	text-decoration:none;
	margin:5px 10px;
}
body.dark .preview-link div{
	color:#fff;
}
body.midnight .preview-link div{
	color:#fff;
}
.preview-link .preview-link-descr{
	opacity:0.8;
}
.preview-link .preview-link-source{
	opacity:0.6;
}
.preview-link .icon{
	max-width:16px;
	max-height:16px;
	line-height:16px;
	background:none;
}
.preview-link .icon svg{
	max-width:16px;
	max-height:16px;
	margin:0 !important;
}
.preview-link .icon:hover{
	background:none;
}
.preview-image{
	position:relative;
	text-align:center;
	align-self:center;
	box-sizing:border-box;
}
.preview-image img{
	position:relative;
	z-index:2;
	box-sizing:border-box;
	align-self:flex-start;
}
.preview-large-image{
	position:relative;
	display:flex;
}
.preview-large-image img{
	width:100%;
	align-self:flex-start;
}
.preview-image-background{
	position:absolute;
	z-index:1;
	left:0;
	right:0;
	bottom:0;
	top:0;
	filter:blur(8px);
	-webkit-filter:blur(8px);
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.menu-notice{
	font-size:14px;
	line-height:1.2em;
	max-width:235px;
	padding:1em;
	border:1px solid rgba(255,200,120,0.6);
	background:rgba(255,240,210,0.6);
	color:#e3792f;
	text-align:center;
}
body.dark .menu-notice, body.midnight .menu-notice{
	border:1px solid rgba(110,200,255,0.9);
	background:rgba(190,235,250,0.9);
	color:#0952ab;
}

.content-view ul{
	line-height:26px;
	margin-bottom:20px;
	list-style-type:disc;
	margin-left:1.5em;
}

.object.type-text .content-view[data-type="article"]{
	min-height:calc( 100vh - 50px - 41px );
	position:relative;
	margin:0;
}
.content-view.hidden[data-type="article"]{
	display:none !important;
}
.article-settings{
	display:none;
}
.article-editor{
	display:block;
}
.editor-formatter{
	position:sticky;
	-webkit-position:sticky;
	z-index:1;
	top:0px;
	left:0;
	right:0;
	height:40px;
	background:#fff;
	border-bottom:1px solid rgba(204, 204, 221, 0.5);
	overflow-x:auto;
	white-space:nowrap;

	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
}
body.dark .editor-formatter{
	background:#18191c;
}
body.midnight .editor-formatter{
	background:#14202c;
}
.editor-formatter::-webkit-scrollbar{
	width:2px;
	height:2px;
}
.editor-formatter::-webkit-scrollbar-track{
	background:rgba(200, 200, 220, 0.3);
}
.editor-formatter::-webkit-scrollbar-thumb{
	background:rgba(200, 200, 220, 1.0);
}
.editor-formatter::-webkit-scrollbar-thumb:hover{
	background:rgba(150, 150, 150, 1.0);
}
.editor-formatter .separator{
	display:inline-block;
	margin:3px;
	width:1px;
	overflow:hidden;
	background:rgba(204, 204, 221, 0.5);
	height:25px;
	vertical-align:middle;
}
.editor-formatter .icon{
	border-radius:3px;
}
.editor-formatter a.positive .icon{
	background:rgba(38, 196, 9, 0.1);
	color:#26be0a;
}
.editor-formatter a.positive-alt .icon{
	background:rgba(180, 200, 3, 0.1);
	color:#9ec600;
}
.editor-formatter a.disabled .icon{
	opacity:0.3;
}
.editor-text{
	outline:none;
	margin-top:10px;
}
.editor-placeholders{
	position: absolute;
	top:40px;
	pointer-events:none;
	opacity:0.4;
}
.publication-readline{
	position:sticky;
	height:6px;
	margin:0;
	padding:0;
	top:0;
	z-index:1;
	overflow:hidden;
}
.publication-readline .fill-level{
	display:block;
	position:relative;
	width:0%;
	height:4px;
	background:#1c98e5;
	border-bottom:2px solid #1a83c4;

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;

	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
}
.audio-player{
	outline:none;
	line-height:30px;
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
}
.audio-player time{
	opacity:0.8;
	font-size:14px;
	line-height:34px;
	margin:0 10px;
}
.audio-player i.icon:hover{
	background:none;
}
.audio-progress{
	display:inline-block;
	flex-grow:1;
	height:25px;
	margin:5px;
	padding:0;
	overflow:hidden;
	cursor:pointer;
	outline:0;
}
.audio-progress:hover .fill-range{
	background:rgb(28,152,229,0.2);

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.audio-progress .fill-level{
	display:block;
	position:relative;
	width:0%;
	margin-top:12px;
	height:1px;
	background:#1c98e5;
	border-bottom:1px solid #1a83c4;
	border-radius:2px;

	-webkit-transition:all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition:all 0.3s ease-out;  /* FF4+ */
	-ms-transition:all 0.3s ease-out;  /* IE10 */
	-o-transition:all 0.3s ease-out;  /* Opera 10.5+ */
	transition:all 0.3s ease-out;
}
.audio-progress:hover .fill-level{
	margin-top:10px;
	height:4px;
}

.toggle-publish-addons{
	font-size:16px;
	margin:5px 0;
	padding-top:5px;
	border-top:1px solid rgba(204, 204, 221, 0.5);

	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
}
.publish-addons{
	display:none;
}
.beneficiaries-list{
	font-size:16px;
}
.beneficiaries-list-caption{
	font-size:18px;
}
.beneficiaries-item{
	margin:5px 0;
}
.beneficiaries-item input{
	display:inline-block;
	width:30%;
	margin-right:10px;
}

.article{
	font-size:20px;
	word-break:break-word;
}
.object-column .article{
	margin-top:10px;
}
.article code{
	clear:both;
	background-color:rgba(28, 152, 229, 0.2);
	border-radius:3px;
	margin:0 2px;
	padding:1px 4px 2px;
	font-size:16px;
}
body.dark .article code{
	background:rgba(179, 180, 184, 0.2);
}
.article cite{
	display:block;
	padding:20px;
	margin:15px 0;
	text-align:center;
	font-style:normal;
}
.article cite:before{
	content:"";
	text-align:center;
	display:block;
	width:100px;
	position:absolute;
	border-top:2px solid #000;
	left:calc(50% - 50px);
	margin-top:-10px;
}
.article cite:after{
	content:"";
	text-align:center;
	display:block;
	width:100px;
	position:absolute;
	border-bottom:2px solid #000;
	left:calc(50% - 50px);
	margin-top:15px;
}
.article blockquote{
	display:block;
	padding:20px 15px;
	border-left:2px solid #000;
	padding-right:0;
	margin:15px 0;
	font-style:normal;
}
.article h1{
	position:relative;
	display:block;
	font-size:24px;
	line-height:30px;
	font-weight:700;
	font-family:sans-serif;
	margin-bottom:15px;
}
.article h2{
	position:relative;
	display:block;
	font-size:22px;
	line-height:28px;
	font-weight:700;
	font-family:sans-serif;
	margin-bottom:15px;
}
.article h3{
	position:relative;
	display:block;
	font-size:20px;
	line-height:26px;
	font-weight:700;
	font-family:sans-serif;
	margin-bottom:15px;
}
.article h1.hidden{
	visibility:hidden;
}
.article p{
	font-family:"PT Serif",serif;
	font-weight:400;
	margin-bottom:15px;
	letter-spacing:0.005em;
	line-height:1.5em;
}
.article p:after{
	clear:both;
}
.article p.hidden{
	visibility:hidden;
}
.article hr{
	font-family:"PT Serif",serif;
	font-weight:400;
	height:auto;
	border:0;
	display: block;
	background:none;
	padding:30px 0;
	margin:0;
	clear:both;
}
.article hr:before{
	content:"***";
	font-size:28px;
	text-align:center;
	display:block;
}
.article hr:after{
	clear:both;
}
.article a{
	color:#1c98e5;
}
body.dark .article a{
	color:#3daff5;
}
[contenteditable]{
	-webkit-user-select:auto;
	user-select:all;
}

.nsfw-content{
	opacity:0.2;
}
.nsfw-warning{
	line-height:1.2em;
	margin:1em 0;
	padding:2.5em 0;
	border:1px solid rgba(255,200,120,0.6);
	background:rgba(255,240,210,0.6);
	color:#e3792f;
	text-align:center;
	cursor:pointer;
}
body.dark .nsfw-warning, body.midnight .nsfw-warning{
	border:1px solid rgba(65,150,200,0.6);
	background:rgba(50,150,190,0.6);
	color:#aaddff;
}
.tooltip{
	border-bottom:1px dashed #000;
}
.install-notice{
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:60px;
	line-height:54px;
	border:1px solid rgba(255,200,120,0.6);
	background:rgba(255,240,210,1);
	color:#e3792f;
	z-index:10;
	text-align:center;
	font-size:20px;
}
.install-notice.show{
	display:block;
}
.install-close-action{
	cursor:pointer;
	display:block;
	position:absolute;
	right:10px;
	color:#b15210;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.install-close-action i.icon:hover{
	background:rgba(255,161,79,0.4);
}
.install-action{
	border-bottom:1px dashed #e3792f;
	padding:5px 10px;
}
@media only screen and (min-width:751px) and (max-width:1200px){
	body{
		font-size:16px;
	}
	.header{
		height:60px;
		line-height:52px;
	}
	.footer{
		height:60px;
		line-height:52px;
	}
	.header .caption{
		line-height:58px;
	}
	.header-link-wrapper{
		top:14px;
	}
	.header-link{
		font-size:16px;
		line-height:20px;
	}
	.content-view input{
		font-size:16px;
	}
	.input-addon{
		font-size:14px;
	}

	.adaptive-show{
		display:block !important;
	}
	.adaptive-show-inline{
		display:inline-block !important;
	}
	.adaptive-show-inline.mobile{
		display:none !important;
	}
	.adaptive-show-flex{
		display:flex !important;
	}
	.adaptive-hide{
		display:none !important;
	}
	.adaptive-hide-inline{
		display:none !important;
	}
	.adaptive-hide-flex{
		display:none !important;
	}

}
@media only screen and (min-width:0) and (max-width:750px){
	body{
		font-size:18px;
	}
	.content{
		width:100vw;
		min-width:auto;
		max-width:600px;
		margin:0;
	}
	.view{
		width:100vw;
	}
	.header{
		height:60px;
		line-height:52px;

		position:sticky;
		top:0;
		z-index:5;
	}
	.footer{
		display:flex;
		height:60px;
		line-height:52px;

		position:fixed;
		bottom:0;
		left:0;
		right:0;
		z-index:5;
	}
	.install-notice{
		bottom:60px;
	}
	.footer.hidden{
		display:none;
	}
	.header .caption{
		line-height:58px;
	}
	.header-link-wrapper{
		top:14px;
	}
	.header-link{
		font-size:18px;
		line-height:20px;
		padding:5px 14px;
	}
	.content-view input{
		font-size:18px;
	}
	.input-addon{
		font-size:16px;
	}
	div.menu{
		display:none;
		top:0;
		position:fixed;
		left:0;
		right:0;
		bottom:0;
		margin:0;
		padding:0;
		line-height:50px;
		width:100vw;
		z-index:10;
		background:#fff;
		min-height:100vh;
		overflow-y:scroll;
	}
	body.midnight div.menu{
		background:#14202c;
	}
	body.dark div.menu{
		background:#18191c;
	}
	div.menu.show{
		display:block;
	}
	div.menu .session{
		height:auto;
		text-align:center;
		padding-bottom:10px;
		border-bottom:10px solid rgba(204, 204, 221, 0.5);
	}
	div.menu .primary{
		padding:0;
		text-align:center;
	}
	div.menu .primary div{
		text-align:center;
		border-bottom:2px solid rgba(204, 204, 221, 0.4);
	}
	div.menu .primary div a{
		text-align:left;
		min-width:60vw;
	}
	div.menu .secondary{
		position:relative;
		border-top:2px solid rgba(204, 204, 221, 0.4);
		padding:5px;
		margin:0;
		text-align:center;
		width:100vw;
	}
	div.menu .secondary div{
		display:inline-block;
	}
	div.menu.show .toggle-menu{
		display:inline-block;
		position:fixed;
		left:15px;
		top:-1px;
		color:#1c98e5;
		z-index:10;
	}
	div.menu.show div.icon-counter.show{
		display:inline-block;
		position:relative;
		margin-right:12px;
		top:-4px;
		border:0;
	}
	.notifications{
		right:0;
		left:0;
		margin:0;
		width:100vw;
		top:0;
		padding:0;
	}

	.fast-publish-wrapper textarea{
		min-height:20vh;
	}

	.adaptive-pinned-tags{
		display:block;
	}

	.adaptive-show{
		display:block !important;
	}
	.adaptive-show-inline{
		display:inline-block !important;
	}
	.adaptive-show-flex{
		display:flex !important;
	}
	.adaptive-hide{
		display:none !important;
	}
	.adaptive-hide-inline{
		display:none !important;
	}
	.adaptive-hide-flex{
		display:none !important;
	}

}
@media only screen and (min-width:0) and (max-width:600px){
	.view{
		border:0;
	}
}